.icon {
    font-size: 2.5rem;
}

button {
    border: none;
    background: #1A1B41;
    color: #577399;
   
}

button:hover {
    
    transform: scale(1.1);
}

.date {
    font-size: 1.5em;
    text-decoration: underline;
}