.icon {
    font-size: 8vw;
    padding:10px;
    
}

button {
    border: none;
    background: #1A1B41;
    color: #577399;
   
}

button:hover {
    
    transform: scale(1.1);
}

.date {
    font-size: 1em;
    text-decoration: underline;
}
.forecast-summary{
    padding-left: 10px;
    padding-right:10px;
    padding-top:15px;
}

@media screen and (min-width: 870px) {
    .icon {
        font-size: 60px;
    }
    
}